/* Initialise tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Load fonts */
@font-face { font-family: SpaceMono; src: url(assets/fonts/SpaceMono/SpaceMono-Regular.ttf); font-style: normal; }
@font-face { font-family: SpaceMono; src: url(assets/fonts/SpaceMono/SpaceMono-Bold.ttf); font-style: bold; }
@font-face { font-family: SpaceGrotesk; src: url(assets/fonts/SpaceGrotesk/SpaceGrotesk-VariableFont_wght.ttf); }
